<h3>Parts List</h3>
<div>
   <button class="success" onclick="openItemModal('add')">Add Part</button>
   <% if (selectedItem) { %>
   <button
      class="danger"
      onclick="openDeleteItemModal('<%= selectedItemId %>', '<%= selectedItem.name %>')"
   >
      Delete
   </button>
   <% } %>
</div>
<table>
   <thead>
      <tr>
         <th onclick="sortTable(0)">Part Name</th>
         <th>Category</th>
         <th>Manufacturer</th>
         <th onclick="sortTable(1)">Stock</th>
         <th onclick="sortTable(2)">Price</th>
      </tr>
   </thead>
   <tbody>
      <% items.forEach(item => { %>
      <tr
         data-id="<%= item.id %>"
         class="<%= selectedItem && selectedItem.id == item.id ? 'selected' : '' %>"
         onclick="document.getElementById('selectItemForm-<%= item.id %>').submit();"
      >
         <td><%= item.name %></td>
         <td><%= item.category_name %></td>
         <td><%= item.manufacturer_name %></td>
         <td><%= item.stock %></td>
         <td>$<%= item.price %></td>
         <form
            id="selectItemForm-<%= item.id %>"
            action="/items/select-item/<%= item.id %>"
            method="POST"
            style="display: none"
         ></form>
      </tr>
      <% }); %>
   </tbody>
   <script></script>
</table>
