<h5>Categories</h5>
<div>
   <button class="primary" onclick="openCategoryModal('add')">
      Add Category
   </button>
   <button
      class="primary"
      onclick="openCategoryModal('edit', '<%= JSON.stringify(selectedCategory) %>')"
   >
      Edit Category
   </button>
   <button
      class="danger"
      onclick="openDeleteCategoryModal('<%= selectedCategoryId %>')"
   >
      Delete Category
   </button>
</div>

<ul>
   <% categories.forEach(category => { %>
   <li
      onclick="document.getElementById('selectCategoryForm-<%= category.id %>').submit();"
      class="<%= selectedCategoryId == category.id ? 'selected' : '' %>"
   >
      <%= category.name %>
      <form
         id="selectCategoryForm-<%= category.id %>"
         action="/categories/select-category/<%= category.id %>"
         method="POST"
         style="display: none"
      ></form>
   </li>
   <% }); %>
</ul>
