<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Database Management</title>
      <link rel="stylesheet" href="/styles.css" />
   </head>
   <body>
      <div class="d-flex">
         <!-- Left Sidebar -->
         <aside class="left-sidebar"><%- include('partials/_sideBar') %></aside>

         <!-- Main Workspace -->
         <main class="main-workspace">
            <%- include('partials/_partsTable') %>
         </main>

         <!-- Right Sidebar -->
         <aside class="right-sidebar">
            <%- include('partials/_itemDetails') %>
         </aside>
      </div>
      <%- include('modals/_categoryModal') %> <%- include('modals/_itemModal')%>
      <%- include('modals/_deleteCategoryModal') %> <%-
      include('modals/_deleteItemModal') %>
   </body>
   <script defer src="/scripts.js"></script>
</html>
